html{
    background-color: #322841;
}

body{
    width: 80%;
    margin: 100px auto;
    background-color: #000;
}

.ui-accordion .ui-accordion-header {
    background-color: #665c75;
}

#accordion {
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

#accordion h3, #accordion div {
    border-radius: 10px;
}

.date_picker {
    color: #ffffff;
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}


.effect_container {
    width: 50%;
    margin: 0 auto;
}

.toggler { 
    height: 200px; 
    position: relative; 
    margin: 0 auto;
    border-radius: 10px;
}
#button { 
    padding: .5em 1em; 
    text-decoration: none; 
    margin: 0 auto;
}
#effect { 
    width: 100%; 
    height: 170px; 
    padding: 0.4em; 
    position: relative; 
    margin: 0 auto;
    border-radius: 10px;
}
#effect h3 { 
    background-color: #a1a1a1;
    margin: 0; 
    padding: 0.4em; 
    text-align: center; 
}

.type_button {
    width: 50%;
    margin: 0 auto;
}